.NotActive {
    background-color: rgba(231, 234, 246, 0.01);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 850ms;
    z-index: 999;
    right: -100%;
}

.Active {
    background-color: #1D1127;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: 550ms;
    z-index: 999;
    padding: 20px;
    border: 2px solid #130918
}